/* Colori */
:root {
    --beige: #F7E2C0;
    --gold: #FFD556;
    --greyD: #383633;
    --liberal-light: #78CAD7;
    --liberal-dark: #2E6C87;
    --fascist-light: #E3644F;
    --fascist-dark: #9C0701;
}

/* Generali */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: #393734;
    background-color: #eaeae5;
}

/* Link */
a {
    color: var(--fascist-dark);
    text-decoration: none;
}
a:hover {
    color: var(--fascist-light);
    text-decoration: underline;
}

/* Utility */
.clear::after {
    content: "";
    display: table;
    clear: both;
}

.left, .left > * {
    float: left;
    text-align: left;
}

.right, .right > * {
    float: right;
    text-align: right;
}

/* Heading */
h1 {
    font-size: 3em;
}

/* Sections */
section {
    width: inherit;
    height: inherit;
    overflow: hidden;
}

/* Testo in ombra */
.faint {
    color: #666;
}

/* Pulsante */
button.large {
    height: 44px;
    width: 100%;
    max-width: 480px;
    margin: 8px auto;
    font-size: 1.3em;
    color: #393734;
}

/* Input */
input, textarea, select {
    font-family: inherit;
    width: 100%;
    max-width: 420px;
    margin: 12px auto;
    font-size: 1em;
}
